<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Navbar</title>
    <link rel="icon" href="/frontend/image/logo-removebg-preview.png" type="image/icon type">
    <link rel="stylesheet" href="/frontend/static/css/styles.css">
    {{styles}}
</head>

<body class="home_backround_image">
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" class="company-name">UnicomTIC</a>
        </div>
        <div class="navbar-right">
           
            <a href="/frontend/views/employees/index.html" class="menu-item">Employee</a>
            <div class="dropdown">
                <button class="dropbtn" >Leave Management</button>
                <div class="dropdown-content">
                    <a href="/frontend/views/leaves/leaveRequest.html">Apply Leave</a>
                    <a href="/frontend/views/leaves/managerLeaveManagement.html">Manage Leave</a>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <h1>Welcome to UnicomTIC Leave Management</h1>
        <p>UnicomTIC Leave Management is a comprehensive and user-friendly system
            designed to streamline the process of tracking and managing employee leave. Whether it’s
            for vacation, sick leave, or personal time off, our platform ensures that employees can easily request
            and manage their leave while providing HR teams with the tools they need to approve, track, and report on
            leave
            data efficiently.
            By automating and centralizing leave requests, UnicomTIC helps organizations reduce administrative burdens,
            increase transparency, and maintain a
            smooth workflow, all while ensuring compliance with company policies and relevant labor laws.</p>
    </div>
    <main>
        {{content}}
    </main>
    {{script}}
</body>

</html>